* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top, #ee9ca7, #ffdde1);
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title {
	text-align: center;
}
.title>form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	height: 50px;
}
.title>form>input {
	width: 300px;
	height: 30px;
	background: rgba(255, 255, 255, .4);
	border: 0;
	border-radius: 8px 8px 0 0;
	caret-color: rgba(110, 113, 113, .8);
	/*瓦灰*/
	font-size: 18px;
	text-indent: 12px;
	line-height: 28px;
	outline: none;
	line-height: 30px;
}
.title>form>button{
	width: 30px;
	height: 30px;
	background: rgba(255, 255, 255, .4);
	margin-left: 5px;
	border: none;
	border-radius: 5px;
}
.title h2 {
	font-size: 75px;
}

.title svg {
	width: 20px;
	height: 20px;
}

.box {
	height: 60%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 16.66%);
	grid-template-rows: repeat(5, 20%);
	grid-template-areas:'flex flex flex flex flex flex'
						'flex flex flex flex flex flex'
	                     '. . . . . .'
	                     '. . . . . .'
						 '. . . . . .';
	align-items: center;
	justify-items: center;
}
.box>div:first-child{
	grid-area: flex;
	width: 90%;
	height: 80%;
	box-shadow: 12px 12px 8px rgba(0, 0, 0, .2);
	background: rgba(255, 255, 255, .4);
	box-sizing: border-box;
	border-radius: 20px;
	padding: 12px;
	text-align: center;
}
.box_senior>div{
	width: 33.3333333%;
	height: 100%;
	transition: .8s;
}
.box_senior>div:hover{
	width: 33.333%;
	height: 150%;
}
.box_senior>div:hover:first-child{
	background: url(../resources/img/happy.jpg)no-repeat;
	object-fit: contain;
	background-size: 100% 100%;
}
.box_senior>div:hover:nth-child(2){
	background: url(../resources/img/nav.jpg)no-repeat;
	object-fit: contain;
	background-size: 100% 100%;
}
.box_senior>div:hover:last-child{
	background: url(../resources/img/card.jpg)no-repeat;
	object-fit: contain;
	background-size: 100% 100%;
}
.box_senior>div:hover>a{
	color: rgba(0, 0, 0, 0);
}
.box_senior>div>a{
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	transition: .8s;
}
.box_senior>div>a>div{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.box>div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 75%;
	width: 75%;
}

.box>div>a {
	text-decoration: none;
	color: black;
	height: 100%;
	width: 100%;
}

.box>div>a>div {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 12px;
	text-align: center;
	box-shadow: 12px 12px 8px rgba(0, 0, 0, .2);
	background: rgba(255, 255, 255, .4);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.box h3 {
	font-size: 21px;
}

.box h4 {
	font-size: 3px;
	align-self: flex-end;
	position: absolute;
}
